body {
    font-family: "Sawarabi Mincho", serif;

    background-color: #FFF6EC;
    /* ベースカラー */
    margin: 0 auto;
    padding: 0;
    color: #797a94;
    /* テキストカラー */
}

header {
    background-color: #d2e479;
    color: #FFF6EC;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #757a4e;
    border-radius: 8px;
    margin-bottom: 20px;
    

}

header h1 {
    margin: 30px;
    font-size: 2em;
}

nav ul {
    width: 90%;
    list-style: none;
    margin: auto auto;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #FFF6EC;
    border-top: 5px solid #d2e479;
    border-radius: 8px;

}

nav ul li {
    margin: 0;
    padding: 10px;
    border-left: 5px solid #d2e479;
   
}

nav ul li:first-child {
    border-left: none;
    /* 最初のリストアイテムの境界線を削除 */
}

nav ul li a {
    text-decoration: none;
    color: #797a94;
    /* テキストカラー */
    font-weight: bold;
    border-radius: 5px;
    /* リンクに丸みを追加 */
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #FFF6EC;
    /* ホバー時のテキストカラー */
    background-color: #d2e479;
    /* ホバー時の背景カラー */
}

.wrapper {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #FFF6EC;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.bgimg {
    position: static;
    z-index: 1;
}
.navbar-toggler {
    display: none;
}

footer {

    background-color: #d2e479;
    /* アクセントカラー */
    color: #FFF6EC;
    /* ベースカラー */
    text-align: center;
    padding: 10px;
    border-top: 5px solid #797a94;
    /* テキストカラー */
    border-radius: 8px;
    /* 丸みを追加 */
    margin-top: 20px;
    /* 上の要素と分離 */
}

@media (max-width: 480px) {
    header {
        height: 100px;
    }

    header h1 {
        font-size: 1.0em;
        margin: 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: block;
        /* メニューはデフォルトで非表示 */
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        border-left: none;
        border-top: 2px solid #d2e479;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    /* ハンバーガーメニューアイコン */
    .navbar-toggler {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #d2e479;
        color: #FFF6EC;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 24px;
        z-index: 1000;
        display: block;
    }

    
    #sidebarMenu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #d2e479;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 999;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    #sidebarMenu ul {
       background-color: #d2e479;
       border-top: #f5e4d1;
       border-bottom: #f5e4d1;
       padding: 0;
       margin: 0 auto;
    }

    #sidebarMenu ul li {
        padding: 15px 20px;
    }

    #sidebarMenu ul li a {
        color: #FFF6EC;
        text-decoration: none;
        font-weight: bold;
        display: block;
    }



    /* サイドバーが表示されているときのスタイル */
    #sidebarMenu.show {
        right: 0;
    }

    body.sidebar-open {
        overflow: hidden;
        /* サイドバー表示中に背景のスクロールを無効化 */
    }

    .wrapper {
        padding: 0px;
    }

    main {
        padding: 15px;
        font-size: 0.9em;
    }

    footer {
        padding: 10px;
        font-size: 0.9em;
    }
}

@media (max-width: 1040px) {
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 1.75em;
        margin: 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
       
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        border-left: none;
        border-top: 3px solid #d2e479;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    /* ハンバーガーメニューアイコン */
    .navbar-toggler {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #d2e479;
        color: #FFF6EC;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 24px;
        z-index: 1000;
        display: block;
    }

    /* サイドバーメニュー */
    #sidebarMenu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #d2e479;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 999;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    #sidebarMenu ul {
       background-color: #d2e479;
       border-top: #f5e4d1;
       border-bottom: #f5e4d1;
       padding: 0;
       margin: 50px auto;
    }

    #sidebarMenu ul li {
        padding: 15px 20px;
    }

    #sidebarMenu ul li a {
        color: #FFF6EC;
        text-decoration: none;
        font-weight: bold;
        display: block;
    }


    /* サイドバーが表示されているときのスタイル */
    #sidebarMenu.show {
        right: 0;
    }

    body.sidebar-open {
        overflow: hidden;
        /* サイドバー表示中に背景のスクロールを無効化 */
    }

    .wrapper {
        padding: 0px;
    }

    main {
        padding: 20px;
        font-size: 1em;
    }

    footer {
        padding: 15px;
        font-size: 1em;
    }
}