{% extends 'base.html' %}
{% load static %}
{% block title %}ワンタイムパスワード認証{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock head %}
{% block content %}
<div class="auth-container">
    <h2>ワンタイムパスワード認証</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form>
    {% if is_registration %}
    <p>OTPが届かない場合は、<a href="{% url 'resend_registration_otp' %}">こちら</a>から再送信してください。</p>
    {% endif %}
</div>
{% endblock %}
