{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}

    <section class="intro">
        <h2>みんなの手と手でつながる子育て</h2>
    </section>
    <div class="features">
        <a href="{% url 'search_allowed' %}" class="feature-card">
            <div class="icon">📍</div>
            <h3>認可保育施設検索</h3>
            <p>近くの認可保育施設や子育て支援施設を探す</p>
        </a>
    
        <a href="{% url 'search_disallowed' %}" class="feature-card">
            <div class="icon">🚩</div>
            <h3>認可外保育施設検索</h3>
            <p>近くの認可外保育施設や子育て支援施設を探す</p>
        </a>
    
        <a href="{% url 'inquiry_list' %}" class="feature-card">
            <div class="icon">🎧</div>
            <h3>相談検索</h3>
            <p>子育てに関するみんなの悩みを見る</p>
        </a>
    {% if user.is_authenticated and user.user_type == 'inquirer' %}
        <a href="{% url 'inquiry_create' %}" class="feature-card">
            <div class="icon">📪</div>
            <h3>相談を投稿</h3>
            <p>子育てに関する悩みを相談する</p>
        </a>
    {% endif %}
        <a href="{% url 'chat_list' %}" class="feature-card">
            <div class="icon">💬</div>
            <h3>チャット</h3>
            <p>信頼できる相談相手と話す</p>
        </a>

        <a href="{% url 'child_support_list' %}" class="feature-card">
            <div class="icon">📺</div>
            <h3>子育て支援情報</h3>
            <p>子育てに関する情報をみる</p>
        </a>
    </div>
 
    
    <div class="home-container">
        <h2>お知らせ</h2>
        <ul class="announcement-list">
            {% for announcement in announcements %}
            <li class="announcement-item">
                <a href="{% url 'announcement_detail' announcement.pk %}" class="announcement-link">
                    {{ announcement.title }} - {{ announcement.date }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="pagination">
            <span class="step-links">
            {% if announcements.has_previous %}
                <a href="?page_announcement={{ announcements.previous_page_number }}#announcements">&laquo; 前へ</a>
            {% endif %}
            <span class="current">
                ページ {{ announcements.number }} / {{ announcements.paginator.num_pages }}
            </span>
            {% if announcements.has_next %}
                <a href="?page_announcement={{ announcements.next_page_number }}#announcements">次へ &raquo;</a>
            {% endif %}
            </span>
        </div>
    </div>




<div class="home-container" id="new_inquiries">
    <h2>新着の相談</h2>
    <ul class="inquiry-list">
        {% for inquiry in new_inquiries %}
        <li class="inquiry-item">
            <a href="{% url 'inquiry_detail' inquiry.pk %}" class="inquiry-link">{{ inquiry.title }} - {{ inquiry.created_at }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
        {% if new_inquiries.has_previous %}
            <a href="?page_new={{ new_inquiries.previous_page_number }}#new_inquiries">&laquo; 前へ</a>
        {% endif %}
        <span class="current">
            ページ {{ new_inquiries.number }} / {{ new_inquiries.paginator.num_pages }}
        </span>
        {% if new_inquiries.has_next %}
            <a href="?page_new={{ new_inquiries.next_page_number }}#new_inquiries">次へ &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>

<div class="home-container" id="popular_inquiries">
    <h2>新着の子育て支援情報</h2>
    <ul class="inquiry-list">
        {% for info in new_info %}
        <li class="inquiry-item">
            <a href="{% url 'child_support_detail' info.pk %}" class="inquiry-link">{{ info.title }}</a> 
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
        {% if popular_inquiries.has_previous %}
            <a href="?page_popular={{ popular_inquiries.previous_page_number }}#popular_inquiries">&laquo; 前へ</a>
        {% endif %}
        <span class="current">
            ページ {{ popular_inquiries.number }} / {{ popular_inquiries.paginator.num_pages }}
        </span>
        {% if popular_inquiries.has_next %}
            <a href="?page_popular={{ popular_inquiries.next_page_number }}#popular_inquiries">次へ &raquo;</a>
        {% endif %}
        </span>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    if (window.location.hash) {
        const element = document.querySelector(window.location.hash);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth' });
        }
    }
});
</script>
{% endblock %}